#open-container {
  display: flex;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #212f42; /* default */
}

/* Mobile: change background color */
@media (max-width: 768px) {
  #open-container {
    background-color: #1d293a !important;
  }
}


#open {
  height: 35px;
  cursor: pointer;
}

#drawer-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  margin: 10px 30px 10px 15px;
  font-size: 1.8rem;
  font-weight: 600;
}

#divider {
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  margin: 0 auto;
}

#logo2 {
  height: auto;
  width: clamp(100px, 50vw, 175px);
  padding-left: clamp(10px, 2vw, 15px);
  padding-top: clamp(10px, 2vw, 15px);
  padding-bottom: clamp(10px, 2vw, 15px);
  cursor: pointer;
}

/* --- Close button --- */
#close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#homebutton {
  display: flex;
  width: 100%;
  color: #2A2C79;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#homebutton:active {
  color: white;
}

.active-city {
  background-color: #2A2C79; /* State background color */
  color: white; /* Text color */
}

.area-city {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px 15px 30px;
  transition: 0.3s ease-out;
  user-select: none;
  text-decoration: none;
}

.area-city:hover {
  background-color: #cfd0ed;
}

.area-city:active {
  color: #ffffff;
  background-color: #2A2C79;
}

#overlay,
#drawer {
  position: fixed;
  top: 0;
  height: 100%;
  transition: 0.3s ease;
  z-index: 999;
}

/* --- Overlay --- */
#overlay {
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* --- Drawer (from left, fully hidden with translate) --- */
#drawer {
  left: 0;
  width: firt-content;
  background: #fff;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  /* completely offscreen */
}

#drawer.active {
  transform: translateX(0);
  /* slide in */
}