.news-main-container {
    display: flex;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    background-image: url('/assets/newsthumbnails/newsmarinduque.jpg?v=2');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.news-main-container:hover {
    background-size: 110% auto;
}

.news-main-container-narra {
    display: flex;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    background-image: url('/assets/newsthumbnails/newsnarra.jpg?v=2');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.news-main-container-narra:hover {
    background-size: 110% auto;
}

.news-main-container-orientalmindoro {
    display: flex;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    background-image: url('/assets/newsthumbnails/newsorientalmindoro.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.news-main-container-orientalmindoro:hover {
    background-size: 110% auto;
}

.news-main-container-orientalmindoro2 {
    display: flex;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    background-image: url('/assets/newsthumbnails/newsorientalmindoro2.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.news-main-container-orientalmindoro2:hover {
    background-size: 110% auto;
}

.news-main-container-puertoprincesa {
    display: flex;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    background-image: url('/assets/newsthumbnails/newspuertoprincesa.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.news-main-container-puertoprincesa:hover {
    background-size: 110% auto;
}

.news-main-container-palawan {
    display: flex;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    background-image: url('/assets/newsthumbnails/newspalawan.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.news-main-container-palawan:hover {
    background-size: 110% auto;
}

#newsmindoroflex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* space between news items */
    justify-content: center;
    align-items: stretch;
    margin: 20px auto;
    max-width: 1000px;
}


#news-readmore {
    display: -webkit-box;
    width: 300px;
    height: auto;
    border-radius: 0px 0px 5px 5px;
    color: #09244b;
    padding: 10px;
    text-align: start;
    align-self: flex-end;
    background-color: white;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#news-readmore::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    right: 0;
    padding-left: 0px;
    background-color: white;
    color: #007bff;
}

#news-readmore::after {
    content: "… Read more";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 4px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: #007bff;
}